* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  color: #444;
  font-family: sans-serif;
  border-top: #1098ed solid 10px;
  position: relative;
}
.container {
  width: 1200px;
  margin: 0 auto;
}
.main-header {
  background-color: #f7f7f7;
  padding: 20px 40px;
  margin-bottom: 60px;
}
aside {
  background-color: #f7f7f7;
  border-top: 5px solid #1098ed;
  border-bottom: 5px solid #1098ed;
  padding: 50px 0;
}
nav {
  font-size: 18px;
}
.post-header {
  margin-bottom: 40px;
}
.post-img {
  width: 100%;
  height: auto;
}
h1,
h2,
h3 {
  color: #1098ed;
}

h1 {
  font-size: 26px;
  text-transform: uppercase;
  font-style: italic;
}
h1::first-letter {
  font-style: normal;
  margin-left: 5px;
}

h2 {
  font-size: 40px;
  margin-bottom: 30px;
  position: relative;
}

h3 {
  font-size: 40px;
  margin-bottom: 20px;
}
h4 {
  text-transform: uppercase;
  font-size: 27px;
  text-align: center;
  margin-bottom: 30px;
}
p {
  font-size: 22px;
  line-height: 1.5;
  margin-bottom: 15px;
}
ol,
ul {
  margin-left: 50px;
  margin-bottom: 20px;
}
li {
  font-size: 20px;
  margin-bottom: 10px;
}
li:last-child {
  margin-bottom: 0;
}
footer p {
  font-size: 16px;
}
#author {
  font-style: italic;
  font-size: 18px;
}

#copyright {
  font-size: 16px;
}
.realted_author {
  font-size: 18px;
  font-weight: bold;
}
.related {
  list-style: none;
  margin-left: 0;
}

a:link {
  color: #1098ed;
  padding: 10px;
  display: inline-block;
}
a:visited {
  color: #1098ed;
}
a:hover {
  color: orange;
  text-decoration: underline dotted orange;
  font-weight: bold;
}
a:active {
  background-color: black;
  font-style: italic;
}
button {
  position: absolute;
  bottom: 50px;
  right: 50px;
  padding: 29x;
  font-size: 22px;
  color: black;
  cursor: pointer;
}
h2::after {
  content: "TOP";
  display: inline-block;
  background-color: #ffe70e;
  color: #000;
  font-size: 15px;
  position: absolute;
  top: -20px;
  right: -20px;
  text-align: center;
  padding: 4px;
}
.author_img {
  float: left;
  margin-bottom: 30px;
}
.author {
  float: left;
  margin-top: 10px;
  margin-left: 20px;
}
h1 {
  float: left;
}
nav {
  float: right;
}
.clearfix::after {
  content: "";
  clear: both;
  display: block;
}
article {
  width: 825px;
  float: left;
}
aside {
  width: 300px;
  float: right;
}
footer {
  clear: both;
}
